#clickme{
  margin-left:-40%;
  margin-top:20%;
  position:fixed;
  width: 100px;
  height: 80px;
  font-size: 50px;
}
#clickmee{
  margin-left:-20%;
  margin-top:20%;
  position:fixed;
  width: 100px;
  height:80px;
  font-size: 50px;
}
#clickmeee{
  margin-top: 20%;
  margin-left:0%;
  position:fixed;
  width:100px;
  height:80px;
  font-size: 50px;
}

/* logo */
body {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style : italic;
  font-size: 80px;}

.sup {
  color:white;
  background:red;
  padding: 7px 30px;
  text-decoration: none;
  width : 80px;
  margin : auto;}
