/* logo */
body {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style : italic;
  font-size: 100px;}

.sup {
  color:white;
  background:red;
  padding:8px 30px;
  text-decoration: none;
  width : 80px;
  margin : auto;} */



/* button */
  body{
    background-color:white;}

.hoverMe {
  background:white;
  height:40px;
  width:200px;
  border:0;
  color:red;
  border:1px solid #fff;
  text-align:center;
  padding:0;
  overflow:hidden;
  position:relative;
  cursor:pointer;
  border-color:red;
  margin-top:20%;}

.hoverMe:after {
  background:red;
  height:40px;
  width:100%;
  border:0;
  color:white;
  border:1px solid red;
  text-align: center;
  content: 'click';
  display: block;
  position: absolute;
  top: -110%;
  left: -1px;
  line-height: 40px;
  transition: all 0.4s ease-in-out;}

.hoverMe:hover:after {
  position: absolute;
  top: -1px;
  left: -1px;}
